<section class="modal-container">
    <div class="modal-card">
      <!-- Header -->
      <div class="modal-header">
        <p class="h3modal">{{ policy.title }}</p>
      </div>
  
      <!-- Main content with vertical scrolling -->
      <div class="modal-main">
        <div class="modal-details">
            <h4>Our contact details</h4>
            <p><strong>Description: </strong><br/> Here are all details to join us in function of your request.</p>
            <p><strong>Creation date: </strong> 2025-10-16</p>
            <p><strong>Version number: </strong> 1.1</p>
        </div>
        <div class="policy-content">
        <h4>Our contact details for technical problem on the platform :</h4>
            <p><strong>Email : </strong><br/>support&#64;jo2024-paris.fake</p>
            <p><strong>Hotline : </strong> 01 01 02 03 04</p>
            <p><strong>Opening hours : </strong><br/> 09:00 - 18:00 (Mon-Fri)</p>
            <h4>Our contact details for payements, refunds, tickets :</h4>
            <p><strong>Email: </strong>sales&#64;jo2024-paris.fake</p>
            <p><strong>Hotline : </strong> 01 05 06 07 08</p>
            <p><strong>Opening hours : </strong><br/> 09:00 - 18:00 (Mon-Fri)</p>
        </div>
      </div>

      <!-- Footer always at the bottom -->
      <div class="modal-footer">
        <button class="button" mat-button (click)="closeModal()">Close</button>
      </div>
    </div>
</section>