
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-header></app-header>
<main class="main">
  
  
  <router-outlet></router-outlet>   
  
  
   
</main>
<app-footer></app-footer>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div style="display: none;">
  <!-- This HTML represents the initial state, it is note intended to appear in the app. -->
  <app-home>Games</app-home>
  <app-offers>Offers</app-offers>
  <app-infos>Iformations</app-infos>

  <!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
   <nav>
    <a class="button" routerlink="/app-home">Games Listing</a>
    <a class="button" routerlink="offers">Offers Listing</a>
    <a class="button" routerlink="/infos">Infos Listing</a>
   </nav>
</div>