header {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
    margin-top : 0px;
    padding : 0em 0em 0em 0em;
    min-height : 18vh;
  }

  

.logo{
    width : 7%;
    display : inline;
    margin-right : 5em;
    padding : 0 0 0 0;
    margin-bottom : 0.5em;
    }
    
.nav {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

    
.nav-icon {
    justify-items: center;
   }


   

.nav-icon {
    justify-items: center;
   }
   
   
   .angular-logo {
     max-width: 9.2rem;
   }
   
   
   .nav-bar{
     display: flex;
   
   }
   
   .slogan{
     display: inline-block;
     
   }


   .divider {
    width: 3px;
    background: var(--blue-to-white-to-red-horizontal-gradient);
    margin-inline: 1 rem;
  }
  
  .pill-group {
    display: inline-flex;
    flex-direction: line;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  
  .pill {
    margin: 10px;
    min-width: 180px;
    display: inline-flex;
    --pill-accent: var(--dark-gold);
    background: color-mix(in srgb, var(--pill-accent) 20%, transparent);
    color: var(--pill-accent);
    padding-inline: 1.75rem;
    padding-block: 0.375rem;
    border-radius: 0.90rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 1.475rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }
  
  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 10%, transparent);
    color: var(--bright-gold);
  }
  
  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--dark-gold);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--dark-gold);
  }
  .pill-group .pill:nth-child(6n + 3) {
    --pill-accent: var(--dark-gold);
  }
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--bright-gold);
  }
  
  .pill-group svg {
    margin-inline-start: 0.25rem;
  }
  
  .social-links-group{
    display : column;
  
  }
  
  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }
  
  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--dark-gold);
  }
  
  .social-links a:hover svg path {
    fill: var(--bright-gold);
  }
  


  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  
    .divider {
      height: 1px;
      width: 100%;
      background: var(--blue-to-white-to-red-vertical-gradient);
      margin-block: 0.5rem;
    }
  }
  