<section class="modal-container">
    <div class="modal-card">
      <!-- Header -->
      <div class="modal-header">
        <p class="h3modal">{{ policy.title }}</p>
      </div>
  
      <!-- Main content with vertical scrolling -->
      <div class="modal-main">
        <div class="modal-details">
            <h4>Our conditions of use</h4>
            <p><strong>Description: </strong><br/> Here are the user conditions of use. </p>
            <p><strong>Creation date: </strong> 2025-10-16</p>
            <p><strong>Version number: </strong> 1.1</p>
        </div>
        
        <div class="policy-content">
            <h3>Conditions of Use Details</h3>
            <h4>Conditions of use</h4>
            <p>By using this website, you agree to our conditions of use.</p>
            <p>You certify that you have read and understood these conditions.</p>
            <h4>User Responsibilities</h4>
            <p>Users are responsible for maintaining the confidentiality of their account information.</p>
            <p>Users must not engage in any activity that could harm the website or other users.</p>
            <h4>Limitation of Liability</h4>
            <p>We are not liable for any direct, indirect, or consequential damages arising from the use of this website.</p>
            <p>We do not guarantee the accuracy or completeness of the information provided on this website.</p>
            
          </div>
      </div>

      <!-- Footer always at the bottom -->
      <div class="modal-footer">
        <button class="button" mat-button (click)="closeModal()">Close</button>
      </div>
    </div>
</section>
