<section class="modal-content">
    <div class="modal-card">
      <!-- Header -->
      <div class="modal-header">
        <p class="h3modal">{{ game.title }}</p>
      </div>
  
      <!-- Main content row -->
      <div class="modal-main">
        <img [src]="game.image" alt="{{ game.title }}" class="modal-image" />
  
        <div class="modal-details">
          <!-- Ceremony Details -->
          <div *ngIf="game.ceremonies">
            <h4>Ceremony Details</h4>
            <p><strong>Description:</strong> {{ game.ceremonies.description }}</p>
            <p><strong>Date:</strong> {{ game.date }}</p>
            <p><strong>Name:</strong> {{ game.ceremonies.name }}</p>
          </div>
  
          <!-- Ceremony Site Details -->
          <div *ngIf="game.ceremonies?.sites">
            <h4>Site of the Ceremony</h4>
            <p><strong>Site:</strong> {{ game.ceremonies?.sites?.name }}</p>
            <p><strong>City:</strong> {{ game.ceremonies?.sites?.city }}</p>
          </div>
  
          <!-- Sports Details -->
          <div *ngIf="game.sports">
            <!--<h4>Sport Details</h4>-->
            <p><strong>Description:</strong> {{ game.description }}</p>
            <p><strong>Date:</strong> {{ game.date }}</p>
            <p><strong>Sport:</strong> {{ game.sports?.name }}</p>
            <h5><strong>Challenger 1:</strong> {{ game.challenger1?.name }}</h5>
            <h5><strong>Challenger 2:</strong> {{ game.challenger2?.name }}</h5>
            <p><strong>Is Paralympic:</strong> {{ game.sports.is_paralympic ? 'Yes' : 'No' }}</p>
          </div>
  
          <!-- Sites of Sports Section -->
          <div *ngIf="game.sports?.sites">
            <!--<h4>Site of Competition</h4>
            <p><strong>Site:</strong> {{ game.sports.sites.name }}</p>-->
            <h6><strong>Address:</strong> {{ game.sports.sites.address }}</h6>
            <h6><strong>City:</strong> {{ game.sports.sites.city }}</h6>
            <h6><strong>Postal Code:</strong> {{ game.sports.sites.postalCode }}</h6>
            <h6><strong>Country:</strong> {{ game.sports.sites.countries?.name }}</h6>
          </div>
        </div>
      </div>
  
      <!-- Inline Details Blocks -->
      <div class="inline-details-blocks">
        <!-- Pricing Details -->
        <div class="equal-blocks">
          <h4>Pricing</h4>
          <h5><strong>Starting Price:</strong> {{ +game.pricec1 | currency:'EUR':'symbol' }}</h5>
          <h5><strong>Medium Price:</strong> {{ +game.pricec2 | currency:'EUR':'symbol' }}</h5>
          <h5><strong>Premium Price:</strong> {{ +game.pricec3 | currency:'EUR':'symbol' }}</h5>
        </div>
  
        <!-- Available Seats Section -->
        <div class="equal-blocks">
          <h4>Available Seats</h4>
          <h5><strong>Starting Price Seats:</strong> {{ game.nbseatsavailc1 }}</h5>
          <h5><strong>Medium Price Seats:</strong> {{ game.nbseatsavailc2 }}</h5>
          <h5><strong>Premium Price Seats:</strong> {{ game.nbseatsavailc3 }}</h5>
        </div>
      </div>
  
      <!-- Footer -->
      <div class="modal-footer">
        <button class = "button1" mat-button (click)="closeModal()">Close</button>
        <button class = "button2" mat-button (click)="buyTicket()">Buy Ticket</button>
      </div>
    </div>
  </section>